    <table>
        <hr valign="top">
            {% if post.author == current_user %}
            <td>
                <form action="{{ url_for('post_delete', id=post.id) }}">
                    <button type="submit" class="btn btn-xs btn-danger">
                        <span class="glyphicon glyphicon-remove glyphicon-white"></span>
                    </button>
                </form>
            </td>
            {% endif %}
            <td><img src="{{ post.author.avatar(36) }}"></td>
            <td>
                <a href="{{ url_for('user', username=post.author.username) }}">
                    {{ post.author.username }}
                </a>
                says: {{ post.body }}
            </td>
            {% if post.author == current_user %}
                {% if post.completed == 0 %}
                <td>
                    <form method="POST" action="{{ url_for('post_completed', id=post.id) }}">
                        <input type="checkbox" name="checkbox" value="mark_completed" onchange="this.form.submit()">
                    </form>
                </td>
                {% else %}
                <td>
                    <form method="POST" action="{{ url_for('post_completed', id=post.id) }}">
                        <input type="checkbox" name="checkbox" value="mark_uncompleted" onchange="this.form.submit()" checked>
                    </form>
                </td>
                {% endif %}
            {% endif %}
    </table>

