{% extends "bootstrap/base.html" %}

{% block styles %}
{{super()}}
<link rel="stylesheet"
      href="{{url_for('.static', filename='stylesheets/style.css')}}">
{% endblock %}

{% block title %}
        {% if title %}
        <title> {{ title }} - MicroBlog</title>
        {% else %}
        <title> Hello world </title>
        {% endif %}
    </head>
    <body>
        <div> Microblog:
            <a href="{{ url_for('index') }}">Home</a>
            <a href="{{ url_for('explore') }}">Explore</a>
            {% if current_user.is_anonymous %}
            <a href="{{ url_for('login') }}">log In</a>
            {% else %}
            <a href="{{ url_for('user', username = current_user.username) }}">My page</a>
            <a href="{{ url_for('logout') }}">Log Out</a>
            {% endif %}
        </div>

        <!-- TODO: for flash message to show up-->
        {% with messages = get_flashed_messages() %}
        {% if messages %}
        <ul>
            {% for message in messages %}
            <li>{{ message }}</li>
            {% endfor %}
        </ul>
        {% endif %}
        {% endwith %}
        {% block content %}{% endblock %}
    </body>
</html>