<html>
    <head>
        {% if title %}
        <title> {{ title }} - MicroBlog</title>
        {% else %}
        <title> Hello world </title>
        {% endif %}
    </head>
    <body>
        <div> Microblog:
<!--            <a href="/index">Home</a>-->
            <a href="{{ url_for('index') }}">Home</a>
<!--            <a href="/login">Login</a>-->
            <a href="{{ url_for('login') }}">login</a>
        </div>
        {% with messages = get_flashed_messages() %}
        {% if messages %}
        <ul>
            {% for message in messages %}
            <li>{{ message }}</li>
            {% endfor %}
        </ul>
        {% endif %}
        {% endwith %}
        {% block content %}{% endblock %}
    </body>
</html>